# 1. ОБЩИЕ НАСТРОЙКИ
HTTP_PORT=8080

ALLOWED_ORIGINS=http://localhost:3000

NEXT_PUBLIC_API_URL=http://localhost:8080
NEXT_PUBLIC_API_MOCKING=disabled

# 2. БАЗЫ ДАННЫХ И ОЧЕРЕДИ (Внутри Docker)
DB_HOST=core-db
DB_PORT=5433
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=plotty_core_db
DB_SSLMODE=disable

ML_DB_HOST=ml-db
ML_DB_PORT=5434
ML_DB_USER=ml_user
ML_DB_PASSWORD=ml_password
ML_DB_NAME=plotty_ml_db

DB_LOCAL_PORT=5433
ML_DB_LOCAL_PORT=5434

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

RABBITMQ_PORT=5672
RABBITMQ_UI_PORT=15672
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/

# 3. S3 МЕДИА (MinIO)
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_BUCKET_NAME=plotty-images

MINIO_ENDPOINT=minio:9000
MINIO_PUBLIC_IP=http://127.0.0.1
MINIO_PUBLIC_URL=http://127.0.0.1:9000

# 4. GIGACHAT (AI)
GIGACHAT_AUTH_KEY=key_here